@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Work+Sans:wght@100;300;400;600;800&display=swap');
*{
    box-sizing: border-box;
    font-family: 'Work Sans';
    margin: 0;
    padding: 0;
}
html{
    /* me permite deslizar cuando hago clic en los links del menu */
    scroll-behavior: smooth;
}
/* MENU */
.contenedor-header{
    background: #cc99ff;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 99;
}
.contenedor-header header{
    max-width: 1100px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
}
.contenedor-header header .logo a{
    font-family: 'Righteous';
    font-size: 36px;
    color: #3300cc;
    text-decoration: none;
}
.contenedor-header header ul{
    display: flex;
    list-style: none;
}
.contenedor-header header nav ul li a{
    text-align: none;
    color: #fff;
    margin: 0 15px;
    padding: 3px;
    transition: .5s;
    text-decoration: none;
}
.contenedor-header header nav ul li a:hover{
    color: #473CBE;
}
.nav-responsive{
    background-color: #0000ff;
    color:#fff;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    display: none;
}

/* SECCION INICIO */
.inicio__imagen{
    width: 100%;
    height: 500px;
    margin-top: 80px;
}

/* SECCION NOSOTROS */
.contenido{
    background: url('../img/fotos/fondo.png');
    color: #fff;
    padding: 0px;
    margin: 0px;
}
    .contenido .contenido-seccion{
        max-width: 1100px;
        margin: auto;
    }
    .contenido h2{
        font-size: 48px;
        font-family: 'Righteous';
        text-align: center;
        padding: 20px 0;
    }

        .contenido .contenido-seccion p{
            font: 18px;
            line-height: 22px;
            margin-bottom: 20px;
            text-align: justify;
            margin-left: 40px;
        }
            .contenido .contenido-seccion p span{
                color: #0000ff;
                font-weight: bold;
            }

@keyframes javascript {
    0%{width: 0%;}
    100%{width: 75%;}
}


/* SECCION SERVICIO */
.galeria__imagen{
    width: 400px;
    height: 280px;
    margin-bottom: 1.5em;
    border: 0.4em solid;/*grosor del borde*/
      border-color: #0FA6A9;/*color de borde*/
      border-radius: 1em / 0.5em;/*borde*/
      -webkit-box-shadow: 12px 17px 5px 0px rgba(0,0,0,0.75);/*sombra*/
    -moz-box-shadow: 12px 17px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 12px 17px 5px 0px rgba(0,0,0,0.75);
}

/* SECCION VIRTUAL */
.virtual__video{
    margin-bottom: 1.5em;
    border: 0.4em solid;/*grosor del borde*/
      border-color: #0FA6A9;/*color de borde*/
      border-radius: 1em / 0.5em;/*borde*/
      -webkit-box-shadow: 12px 17px 5px 0px rgba(0,0,0,0.75);/*sombra*/
    -moz-box-shadow: 12px 17px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 12px 17px 5px 0px rgba(0,0,0,0.75);
}

/* SECCION CURSOS */
.cursos__titulo{
    font-size: 22px;
}

.cursos__texto{
    font-size: 20px;
    color: #00009b;
    font-weight: bold;
}

.cursos__texto ul li {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    margin-left: 5em;
}

/* SECCION FOOTER */
footer{
    background-color: #252A2E;
    color: #fff;
    padding: 50px 0 30px 0;
    text-align: center;
    position: relative;
    width: 100%;
}

    footer .arriba{
        display: block;
        width: 42px;
        height: 42px;
        background-color: #0000ff;
        color: #fff;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        top: -25px;
        border-radius: 50%;
        line-height: 50px;
        font-size: 18px;
    }

#referencia {
    display: flex;
    width: 100%;
    background-color: #cc99ff;/*color de fondo*/
    color: #000000;/*color de letra*/
    border-top: solid #ffffff 2px;/*borde de arriba*/
    margin: 1% 0%;
    padding: 0.5% 0%;
  }
  
  #referencia__titulo {
    width: 100%;/*contenido al 100% dentro del contenedor*/
    padding-bottom: 1%;/* espacio de abajo */
    text-align: center;/*texto centrado*/
    color: #ffffff;/*color de texto*/
    font: 2em Arial, Helvetica;/* tamaño de letra y etilo de letra */
  }
  
  .referencia__texto {
    font: 1em Arial, Helvetica;/* tamaño de letra y etilo de letra */
  }
  
    .referencia__texto ul {
        padding: 0% 3%;
        list-style: none;/*no tiene propiedad de lista por el none*/
    }
  
        .referencia__texto ul>li {
            padding: 1.5% 0%;
            border-bottom: dashed #ffffff 1px;/*borde de abajo*/
            text-align: initial;
        }
  
  .referencia__texto a {
    color: #37A8D4;/* color de texto */
  }
  
#referencia__autor {
width: 100%;
text-align: center;
font-size: 100%;
}


/* SECCION RESPONSIVE */

@media screen and (max-width:1450px){
    .galeria__imagen{
        width: 360px;
        height: 280px;
    }
}

@media screen and (max-width:1350px){

    .inicio__imagen{
        height: 450px;
    }

    .galeria__imagen{
        width: 22em;
        height: 18em;
    }

    .contenido-seccion p{
        padding-left: 2em;
    }

    .virtual__video{
        width: 27em;
        height: 22em;
    }

    .servicio__movil_I{
        width: 100%;
    }

    .servicio__movil_II{
        width: 50%;
    }

    .movil_servicio{
        width: 25em;
        height: 20em;
    }
}

@media screen and (max-width:1170px){

    .inicio__imagen{
        height: 400px;
    }

    .galeria__imagen{
        width: 20em;
        height: 16em;
    }

    .virtual__video{
        width: 27em;
        height: 22em;
    }

    .movil_servicio{
        width: 25em;
        height: 20em;
    }
}

@media screen and (max-width:1150px){

    .galeria__imagen{
        width: 18em;
        height: 14em;
    }

    .movil{
        width: 100%;
    }

    .virtual__video{
        width: 35em;
        height: 22em;
    }

    .movil_servicio{
        width: 25em;
        height: 20em;
    }

}

@media screen and (max-width:980px){
    nav{
        display: none;
    }
    .nav-responsive{
        display: block;
    }
    nav.responsive{
        display: block;
        position: absolute;
        right: 0;
        top: 75px;
        background-color: #252A2E;
        width: 180px;
    }
    nav.responsive ul{
        display: block !important;
    }
    nav.responsive ul li{
        border-bottom: 1px solid #fff;
        padding: 10px 0;
    }

    .contenido-seccion {
        width: 100%;
    }

    .contenido-seccion p{
        margin-top: 1.5em;
        margin-right: 1em;
    }

    .servicio__movil_II{
        width: 100%;
    }

    .movil_servicio{
        width: 35em;
        height: 20em;
    }
    
    .movil{
        width: 100%;
    }

    .virtual__video{
        width: 37em;
        height: 24em;
    }

}

@media screen and (max-width:770px){

    .inicio__imagen{
        height: 380px;
    }

    .movil{
        width: 100%;
    }

    .virtual__video{
        width: 35em;
        height: 22em;
    }
}

@media screen and (max-width:640px){

    .inicio__imagen{
        height: 350px;
    }

    .contenido .contenido-seccion iframe{
        width: 30em;
        height: 20em;
    }
    .contacto .fila{
        display: block;
    }
    .contacto .fila .col{
        width: 100%;
    }
    .contacto .col .info{
        top: 125px;
    }

    .contenido-seccion p{
        margin-right: 3em;
    }

    .movil_servicio{
        width: 30em;
        height: 18em;
    }

    .virtual__video{
        width: 30em;
        height: 20em;
    }
}

@media screen and (max-width:525px){
    .inicio__imagen{
        height: 300px;
    }

    .galeria__imagen{
        width: 25em;
        height: 16em;
    }
    footer .arriba{
        width: 40px;
        height: 40px;
    }

    .virtual__video{
        width: 25em;
        height: 19em;
    }
}

@media screen and (max-width:440px){

    .inicio__imagen{
        height: 280px;
    }

    .galeria__imagen{
        width: 20em;
        height: 14em;
        margin-left: 20px;
    }

    .movil{
        width: 100%;
    }

    .virtual__video{
        width: 20em;
        height: 15em;
    }
}

@media screen and (max-width:400px){

    .inicio__imagen{
        height: 250px;
    }

    .galeria__imagen{
        margin-left: 0px;
    }

    .contenido .contenido-seccion p{
        margin-left: 20px;
    }

}

@media screen and (max-width:375px){

    .inicio__imagen{
        height: 200px;
    }

    .galeria__imagen{
        width: 20em;
        height: 14em;
    }
    .contenido-banner{
        width: 75%;
    }
    .referencia__texto{
        font-size: small;
    }
    footer .arriba{
        width: 35px;
        height: 35px;
    }

    .contenido .contenido-seccion p{
       font-size: small;
       text-align:justify;
       margin-right: 2.4em;
    }
}

@media screen and (max-width:355px){

    .inicio__imagen{
        height: 180px;
    }

    .galeria__imagen{
        width: 17em;
        height: 12em;
    }

    .virtual__video{
        width: 17em;
        height: 12em;
    }

    footer .arriba{
        width: 32px;
        height: 32px;
    }
}

@media screen and (max-width:320px){

    .inicio__imagen{
        height: 150px;
    }

    .galeria__imagen{
        width: 15em;
        height: 10em;
    }

    .virtual__video{
        width: 15em;
        height: 10em;
    }
}